@model First.Models.ViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}
@*<script src="~/js/JavaScript.js"></script>*@
<h1>Create</h1>

<h4>EmployeeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label" asp-for="Gender">Gender</label>
                <div class="form-check">
                    <input asp-for="Gender" class="form-check-input" type="radio" value="Male">
                    <label class="form-check-label" asp-for="Gender"> Male</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Female">
                    <label class="form-check-label" asp-for="Gender">Female</label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationId" class="control-label">Qualification</label>
                <select class="form-control dept" asp-for="QualificationId">
                    <option value="">--SELECT--</option>
                </select>
                <span asp-validation-for="QualificationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label">Country</label>
                <select class="form-control cs" asp-for="CountryID">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateID" class="control-label">State</label>
                <select class="form-control sid" asp-for="StateID">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="StateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label">Choose One</label>
                <select class="form-control" asp-for="IsActive">
                    <option>Select</option>
                    <option value="true">Active</option>
                    <option value="false">InActive</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <input type="submit" value="Edit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
<script>
$(document).ready(function () {
    //qualificatonBind
    $.get('@Url.Action("GetQualifications","Employee")',
            function (result) {
                // console.log(result);
                $.each(result, function (i, dept) {
                    $(".dept").append("<option value=" + dept.id
                        + ">" + dept.name + "</option>")
                })
            });
    //CountryBind
        $.get('@Url.Action("GetCountry","Employee")',
            function (result) {
                //console.log(result);
                $.each(result, function (i, cs) {
                    $(".cs").append("<option value=" + cs.c_Id
                        + ">" + cs.countryName + "</option>")
                })
            });

   //State Bind
});
    $(document).ready(function () {
        $(".cs").change(function () {  
            var C_Id = $(".cs").val();
            $(".sid").empty();
            $.get('@Url.Action("GetState","Employee")', { "id": C_Id },
                function (data) {
                    $.each(data, function (i, sname) {
                        $(".sid").append("<option value=" +sname.s_Id
                            + ">" + sname.stateName + "</option>")
                    })
                   
                });
        });
    });



</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
